<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PIC Assembly</string>
	<key>uuid</key>
	<string>25C83D70-6BDB-48B6-B79B-404139A68A8C</string>
</dict>
</plist>
