<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>x86 Assembly</string>
	<key>uuid</key>
	<string>4C177BCE-6E2A-4EB7-A7B8-C6C224929A8F</string>
</dict>
</plist>
