<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>ordering</key>
		<array>
			<string>3A406674-FF3F-4495-BF50-C159AC0245B9</string>
			<string>41068D96-32BD-41EE-ABA2-E2828715FB08</string>
			<string>6EB4EA3D-7D22-48ED-A24D-EABE00C63760</string>
			<string>B693FCA0-003E-4C36-9E64-E4368B4AC71A</string>
			<string>618A6727-C966-4C30-BE54-0DC1A1A7BC21</string>
			<string>79947EF7-DC4A-40DE-9506-AFD7A87DEDDE</string>
			<string>135D0733-10F0-4B69-AE5B-0C192FAC05C1</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>25C83D70-6BDB-48B6-B79B-404139A68A8C</string>
</dict>
</plist>
